@media screen and (max-width: 1024px){
    .clock-container{
        width: 35%;
        min-width: 390px;
        padding: 3em;
    }
    .date-container,.time-container{
        padding: 1em 0.5em;
        min-width: 200px;
    }
    .date-heading,.time-heading{
        font-size: 1.6rem;
    }
    .theme-toggle{
        position: relative;
        left: 130px;
        bottom: 15px;
        padding: 0.6em 0.9em;
    }
}

@media screen and (max-width: 441px) {
    .clock-container{
        width: 35%;
        min-width: 270px;
        padding: 3em;
    }
    .date-container,.time-container{
        padding: 0.5em;
        min-width: 200px;
    }
    .date-heading,.time-heading{
        font-size: 1.2rem;
    }
    .theme-toggle{
        position: relative;
        left: 87px;
        bottom: 15px;
        padding: 0.4em 0.6em;
    }
}